<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content"
>
<meta charset="UTF-8">
<body>
<div>
    <form th:method="post" th:action="|@{/{adminPath}/login (adminPath=${adminPath})}|" th:object="${adminLoginRequest}">
      <div>
        <label th:for="name">로그인 아이디 : </label>
        <input type="text" th:field="*{name}"/>
      </div>
      <br/>
      <div>
        <label th:for="pw">비밀번호 : </label>
        <input type="password" th:field="*{pw}"/>
      </div>
      <div th:if="${#fields.hasGlobalErrors()}">
        <br/>
        <div class="error-class" th:each="error : ${#fields.globalErrors()}" th:text="${error}"/>
      </div>
      <br/>
      <button type="submit">로그인</button>
    </form>
</div>
</body>
</html>