<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content"
>
<meta charset="UTF-8">
<body>
<div>
    <div th:if="${nickname == null}">
        <h3>관리자 계정으로 로그인 하세요</h3>
        <button th:onclick="|location.href='@{/{adminPath}/login (adminPath=${adminPath})}'|">로그인</button>
    </div>
    <div th:unless="${nickname == null}">
        <h3>[[${nickname}]]님 환영합니다!</h3>
        <button th:onclick="|location.href='@{/{adminPath}/logout (adminPath=${adminPath})}'|">로그아웃</button>
    </div>
</div>
</body>
</html>