<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Force Update 정책 목록</title>
</head>
<body>
<h1>Force Update 정책 목록</h1>
<a href="/v1/admin/policy/force/add">정책 추가</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>OS</th>
        <th>최소 버전</th>
        <th>현재 버전</th>
        <th>강제 업데이트</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="policy : ${policies}">
        <td th:text="${policy.id}"></td>
        <td th:text="${policy.os}"></td>
        <td th:text="${policy.minVersion}"></td>
        <td th:text="${policy.currentVersion}"></td>
        <td th:text="${policy.forceUpdate}"></td>
        <td><a th:href="@{|/v1/admin/policy/force/edit/${policy.id}|}">수정</a></td>
        <td>
            <form th:action="@{|/v1/admin/policy/force/delete/${policy.id}|}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<div>
    <a th:href="@{/v1/admin}">
        홈으로 가기
    </a>
</div>
</body>
</html>