<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://deeplink.ugsm.co.kr">
    <meta property="og:title" th:content="|${meetName}모임에 초대합니다.|">
    <meta property="og:image" th:content="${meetImage}">
    <meta property="og:site_name" content="MOPLE">
    <meta property="og:locale" content="en_US">

    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <title>MOPLE INVITE</title>
</head>

<body>
<script th:inline="javascript">
    const meetId = [[${meetId}]]

    const iosLink = meetId ? 'Mople://invite?code=' + meetId : 'Mople://default';
    const iosStoreLink = 'https://apps.apple.com/kr/app/%EB%AA%A8%ED%94%8C-%EB%AA%A8%EC%9E%84%ED%94%8C%EB%9E%98%EB%84%88/id6738402542'

    const androidLink = meetId ? 'mople://invite?code=' + meetId : 'mople://default';
    const androidStoreLink = 'https://play.google.com/store/apps/details?id=com.moim.moimtable'

    function getOS() {
        const userAgent = navigator.userAgent.toLowerCase();
        if (/android/i.test(userAgent)) {
            return 'android';
        } else if (/iphone|ipad|ipod/i.test(userAgent)) {
            return 'ios';
        } else {
            return /windows|mac|linux/i.test(userAgent) ? 'pc' : 'other';
        }
    }

    function launchApp(os) {
        const baseUrls = {
            ios: iosLink,
            android: androidLink,
        };

        const downloadUrls = {
            ios: iosStoreLink,
            android: androidStoreLink,
        };

        function handleVisibilityChange() {
            if (document.hidden || document.webkitHidden) {
                clearTimeout(timeoutId);
            }
        }

        document.addEventListener('visibilitychange', handleVisibilityChange, false);

        window.location.href = baseUrls[os];

        const timeoutId = setTimeout(() => {
            window.location.href = downloadUrls[os];
            document.removeEventListener('visibilitychange', handleVisibilityChange, false);
        }, 1500);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const os = getOS();
        if (os === 'ios' || os === 'android') {
            launchApp(os);
        }
    });

</script>
</body>

</html>