<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      layout:fragment="content"
>
<body>
<th:block th:each="comment : ${comments}">
    <div class="card text-center">
        <div class="card-header">
            신고 목록 [[${comment.id}]]번
        </div>
        <div class="card-body">
            <p class="card-text">신고 사유: [[${comment.reason}]]</p>
            <p class="card-text">신고자 ID: [[${comment.userId}]]</p>
            <p class="card-text">댓글 ID: [[${comment.commentId}]]</p>
            <p class="card-text">댓글 내용: [[${comment.comment}]]</p>
            <a href="#" class="btn btn-danger">댓글 삭제</a>
        </div>
    </div>
</th:block>
</body>
</html>